$navbar-bg-color: #004984;
$navbar-a-font: 'Open Sans 300', sans-serif;

@mixin collapsible-a
{
  font-family: $navbar-a-font;
  color: white;
  background-color: $navbar-bg-color;
  font-size: 22px;
}
html
{
  height: 100%;
  min-height: 100%;
  position: relative;
}
body
{
  min-height: 300px;
  min-width: 360px;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  background-image: url(../images/BG.jpg);
  background-size: 100% 100%;
}


a, a:hover
{
  font-style: normal;
  text-decoration: none;
}
#logo
{
  padding-left: 5%;
  padding-right: 5%;
  height:8.41%;
  position: relative;
}

#login
{
  min-width: 30%;
  min-height: 30%;
  max-height: 50%;
  max-height: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  form
  {
    min-width: 50%;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0;
    margin-top: 5%;
    input
    {
      min-width: 50%;
      min-height: 40px;
      width: 70%;
      height: 100%;
      right: 50%;
      border: solid;
      font-size: 16px;
      text-align: center;
      display:block;
      color: gainsboro;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    input.ng-valid
    {
      border-color: #4cae4c;
      color: black;
    }
    #login_btn
    {
      width: 50%;
      heigth: 50%;
      left: 25%;
      right: 25%;
      border: 0;
      margin: 0 auto;
      text-align: center;
      background-color: $navbar-bg-color;
      color: white;
    }
  }
}


#management
{
  width: 70%;
  height: 70%;
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;
  overflow: auto;
  table
  {
    width:100%;
    margin: 0 auto;
    border:none;
    .borderless
    {
      td,tr,th
      {
        border-bottom: 0;
      }
    }
  }
}

/*
  Class used by workspaces when hidden on management view table.
 */

#hidden
{
  display: none;
  visibility: hidden;
}

/*
  Treats the navbars used on the header and footer of the page
 */
.navbar
{
  margin: 0;
  background-color: $navbar-bg-color;
  border: none;
  .container-fluid
  {
    font-family: 'Open Sans 300', sans-serif;
    background-color: $navbar-bg-color;
    .navbar-header a
    {
      padding-left: 10%;
      padding-right: 10%;
      color: white;
      font-size:36px;
    }
    .navbar-text
    {
      float:none;
      color: white;
      font-size:22px;
      text-align: center;
    }
    .collapse
    {
      a
      {
        @include collapsible-a;
      }
      a:hover
      {
        @include collapsible-a;
        background-color: white;
        color:#004984;
      }
    }
  }
}

#footer
{
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  border: none;
}