<div id = "management">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Creation</th>
        <th>Status</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="(index,container) in managementCtrl.containers">
        <tr>
          <th scope="row">1</th>
          <td>{{container.name}}</td>
          <td>{{container.createdAt}}</td>
          <td>{{container.status}}</td>
          <td>
            <button class = "start-btn glyphicon glyphicon-play" ng-click="managementCtrl.executeContainerAction('start',container.name)"></button>
            <button class = "pause-btn glyphicon glyphicon-pause" ng-click="managementCtrl.executeContainerAction('stop',container.name)"> </button>
            <button class = "remove-btn glyphicon glyphicon-remove" ng-click="managementCtrl.executeContainerAction('delete',container.name)"> </button>
          </td>
          <td><button class = "btn btn-primary" id = "{{'button' + $index }}" ng-click="managementCtrl.hideWorkspaces('workspace_row'+$index)">WORKSPACES</button></td>
        </tr>
        <tr id = "{{'workspace_row'+$index}}">

          <td id = "{{'creationCollumn'+$index}}" colspan="6" align="center" ng-class="{ 'hidden': !managementCtrl.workspacesEmpty($index)}">
            <button class = "btn btn-primary"> Create workspace</button>
          </td>

          <td class = "workspace-row" id = "{{'workspace_collumn'+$index}}" colspan="6" ng-show = "container.Workspaces.length">
            <table class = "table borderless">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Creation</th>
                  <th>Stack</th>
                  <th>Status</th>
                  <th>Actions</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="workspace in container.Workspaces">
                  <tr>
                    <td>{{workspace.workspaceName}}</td>
                    <td>{{workspace.createdAt}}</td>
                    <td>{{workspace.stack}}</td>
                    <td>{{workspace.status}}</td>
                    <td>
                      <button class = "start-btn glyphicon glyphicon-play" ng-click="managementCtrl.executeWorkspaceAction('start',workspace.workspaceName,workspace.containerName)"></button>
                      <button class = "pause-btn glyphicon glyphicon-pause" ng-click="managementCtrl.executeWorkspaceAction('stop',workspace.workspaceName,workspace.containerName)"> </button>
                      <button class = "remove-btn glyphicon glyphicon-remove" ng-click="managementCtrl.executeWorkspaceAction('delete',workspace.workspaceName,workspace.containerName)"> </button>
                    </td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
          </td>
        </tr>
    </tbody>
  </table>
</div>
