
<div id = "management">
  <table class="table table-hover">
    <thead>
    {{managementCtrl.resulting_array}}
    {{'asdadasda'}}
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Creation</th>
        <th>Status</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="(index,container) in managementCtrl.resulting_array">
        <tr>
          <th scope="row">1</th>
          <td>{{container.name}}</td>
          <td>{{container.createdAt}}</td>
          <td>{{container.status}}</td>
          <td>
            <button class = "start-btn glyphicon glyphicon-play" ng-click="managementCtrl.executeContainerAction('start',container.name)"></button>
            <button class = "pause-btn glyphicon glyphicon-pause"> </button>
            <button class = "remove-btn glyphicon glyphicon-remove"> </button>
          </td>
          <td><button class = "btn btn-primary" id = "{{'button' + $index }}" ng-click="managementCtrl.hideWorkspaces('workspace_row'+$index)">WORKSPACES</button></td>
        </tr>
        <tr id ="{{'workspace_row'+$index}}" ng-show = "container.Workspaces.length">
          <td colspan="6" class = "workspace-row">
            <table class = "table borderless">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Creation</th>
                  <th>Stack</th>
                  <th>Status</th>
                  <th>Actions</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="workspace in container.Workspaces">
                  <tr>
                    <td>{{workspace.workspaceName}}</td>
                    <td>{{workspace.createdAt}}</td>
                    <td>{{workspace.stack}}</td>
                    <td>{{workspace.status}}</td>
                    <td>
                      <button class = "start-btn glyphicon glyphicon-play" ng-click="managementCtrl.executeContainerAction('start',container.name)"></button>
                      <button class = "pause-btn glyphicon glyphicon-pause"> </button>
                      <button class = "remove-btn glyphicon glyphicon-remove"> </button>
                    </td>
                    <td>SOmething</td>
                  </tr>
              </tbody>
            </table>
          </td>
        </tr>
    </tbody>
  </table>
</div>