<h1>Workspace creation </h1>
<form method="post">
    <input type = "text" name = "registration_id">
    <input type = "text" name = "workspace_name">
    <br>

        <input type="radio" name = "stacks" value = "cpp-default"> C<br>
        <input type="radio" name = "stacks" value = "Rails"> Rails <br>

    <input type="submit">
</form>
